*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  display: block;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
